body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 40px 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 5px;
}

p {
    color: #666;
    margin-bottom: 30px;
}

.btn {
    display: block;
    background-color: #ffffff;
    color: #333;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-weight: bold;
}

.btn:hover {
    background-color: #e0e0e0;
}
.todaviano{
    background-color: red;
}